.navbar-toggler {
    line-height: inherit;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover {
    background-color: darken($primary, 7%);
    border-color: darken($primary, 7%);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
}