<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}" >
<head>
 <title>POS System - Home</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="container py-5">
            <h1>Welcome <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span>,</h1>
            <p class="mb-4">Let's start selling together and make some money!</p>
            <a href="/cash-registers" class="btn btn-primary">Get Started <i class="fas fa-arrow-circle-right pl-1"></i></a>
        </div>
    </main>
</body>
</html>
